body {
  margin: 0;
  padding: 0;
}

h1{
  color: rgb(255, 0, 0);
}
h2{
  color: blue;
  font-style: bold;
  font-family: Arial;
  font-size: 20px;
  position: left;
}

p{
  font-size: 17px;
  color: teal;
  font-family: Arial;
}

a{
  font-family: sans-serif;
  font-size: 15px;
}
.title{
  font-size: 30px;
  font-family: Arial;
  color: rgb(200, 10, 45);
  text-transform: uppercase;
}

/* Navigation */

.navigation {
  box-sizing: border-box;
  background-color: pink;
  overflow: auto;
  padding: 18px 18px;
  position: relative;
  top: 0;
  width: 50%;
  z-index: 999;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
}
